*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    

body{
    font-family: 'Roboto', sans-serif;
}


.container{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.container-two{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/* assets  */




/* navbar  */

nav{
   background-color: #255ee9;
}

nav #inner-nav.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

nav #inner-nav ul{
    list-style-type: none;
}

.logo{
    height: 40%;
}

#links{
    display: flex;
    /* test */
}

#links ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#links li{
    height: 30px;
    color: white;
    font-size: 1.2em;
    
}


/* button  */
.login{
    height: 35px;
    width: 70px;
    background-color: white;
    border: none;
    border-radius: 20px;

}
/* /button  */

header{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#inner-header{
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}


h1{
    color: white;
    font-size: 2.5em;
    margin-bottom: 20px;
}

header p{
    text-align: center;
    color: white;
    font-size: 18px;
    line-height: 30px;
    
}

#download{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.mac{
    height: 40px;
    width: 200px;
    font-size: 1.2em;
    border-color: transparent;
    border-radius: 20px;
}

#mac-up{
    background-color: white;
}

#browser{
    height: 40px;
    width: 300px;
    background-color: #23272a;
    color: white;
    font-size: 1.2em;
    border-radius: 20px;
    border-color: transparent;

}

/* main  */



.partition{
    padding-top: 150px;
    padding-bottom: 150px;

    display: flex;
    
}

.partition .container:not(#main-bottom){
    display: flex;
    gap: 50px;
}

.partition .container img{
    position: relative;

}


   
.text-img{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* padding-top: 30px; */
}

h2{
    font-size: 2.5em;
    margin-bottom: 30px;
}



#bottom-sec{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


#main-bottom{
    display: flex;
    flex-direction: column;

}

#bottom-p{
    text-align: center;
    
}

#img-bottom{
    height: 800px;
}

#bottom-text{
    height: 30px;
    width: 200px;
}

#mac-bottom{
    background-color: #1093aa;
}

/* footer  */

footer{
    width: 100%;
    height: 700px;
}

.inner-footer{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
    background-color: rgb(48, 48, 61);
}

#ban{
    height: 300px;
    width: 300px;
    background-color: #d475c1;

}

.data-list li{
    height: 30px;
    width: 100px;
    background-color: #70aa55;

}

.data-list ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;

}


.bottom-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: rgb(48, 48, 61);
}
